/* 
Färger:
Mörkgrön #163832ff
Mörklila #301934ff
Ljusgrå #e3e3e3ff
Blå-lila #9747ffff
Rosa-lila #a948b3ff

*/


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: #e3e3e3ff;
}

body a {
    text-decoration: none;
    color: #e3e3e3ff;
}

header {
    background-image: linear-gradient(to bottom right, #301934ff, #163832ff);
    color: #e3e3e3ff;
    height: 600px;
}

.logo {
    width: 180px;
    margin-top: 5px; /* Kanske behöver lösas på bättre sätt*/
}

.menu {
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;

}

nav a {
    margin: 0 10px;
}

nav a:hover{
    font-weight: bold;
}

.menu, .filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    width: 180px;;
}

.filter {
    padding: 20px;
}

.icons img, .filter img {
    width: 20px;
}

.header-content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    height: 100%;
}

.img-box {
    margin-top: 150px;
}


.btn {
    background-color: #9747ffff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.479));
}

.btn:hover {
    background-color: rgb(167, 100, 255);
    font-weight: bold;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

section {
    flex-direction: column;
    background-color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

section div {
    height: 200px;
    width: 150px;
    background-image: linear-gradient(to bottom right, #301934ff, #163832ff);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right, #163832ff, #301934ff);
    color: #e3e3e3ff;
}

footer p {
    margin: 5px;
}

.subscribe {
    padding: 10px;
    margin-bottom: 20px;
}

#subscribe {
    height: 30px;
    border-radius: 5px;
    border-color: #e3e3e3ff;
    padding-left: 10px;
}

.footer-buttons a, #submit{
    /* background-color: #e3e3e3ff;
    color: black; */
    padding: 7px;
    border-radius: 5px;
    margin-left: 10px;
    /* box-shadow: 1px 1px 2px; */
}

#submit {
    border: none;
    font-size: 16px;
}